{% load static %}
{% load staticfiles %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
	  {% block title %}
      My Profile
      {% endblock %}
	</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" id="change_theme" href="{% static 'style.css' %}">
  </head>
  <body style="margin:0;">
    <div class="outerBody">
      <div class="header">
		<a href= / button type="button" class="btn btn-secondary" style="background-color:blue">Home</a>
        <a href= subscribe button type="button" class="btn btn-secondary" style="background-color:blue">Subscribe</a>
		<h2>HELLO!</h2>
	  </div>

	  <div class="content">
	    <div class="vitals">
	        <p> Full Name: Drasseta Aliyyu Darmansyah </p>
	        <p> Gender: Male </p>
	        <p> Birthday: June 1st, 1999 </p>
	        <p> Age: 19 </p>
          </div>
	    </div>

	    <div class="others">
            <p>Address: Villa Pertiwi, S1 no. 2, Depok, West Java, Indonesia</p>
	        <p>Religion: Islam</p>
	        <p>Language: Indonesian and English</p>
	        <p>Occupation: College Student</p>
	        <p>University: Universitas Indonesia</p>
          </div>
	    </div>

	    <div class="academic">
	        <p>Graduated from SDN Sukamaju 10</p>
		    <p>Graduated from SMPN 4 Depok</p>
		    <p>Graduated from SMAN 3 Depok</p>
		    <p>Enrolled in Universitas Indonesia's Faculty of Computer Science</p>
          </div>
	    </div>
	  </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>